body
{

}

#container
{
    width: 760px;
    height: auto;
    margin: auto;
}

#menu
{
    width: 760px;
    height: 50px;
}

#menu a
{
    width: 84px;
    float: left;
    height: 0px !important;
    padding: 50px 0 0 0;
    background-repeat: no-repeat;
    transition: background-position 1s;
}

#menu a[data-atribute = "about"]
{
    background: url("img/meniu/about.gif");
}

#menu a[data-atribute = "portofolio"]
{
    width: 95px;
    background: url("img/meniu/portfolio.gif");
}

#menu a[data-atribute = "services"]
{
    width: 80px;
    background: url("img/meniu/services.gif");
}

#menu a[data-atribute = "contact"]
{
    width: 100px;
    background: url("img/meniu/contact.gif");
}

#menu a:hover
{
    background-position: 0 -100px !important;
}

#menu a.selected
{
    background-position: 0 -50px;
}

header
{
    width: 760px;
    height: 150px;
    background: url("Irina/banner-curs.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
}

header div
{
    width: 200px;
    position: absolute;
    bottom: 2px;
    right: 10px;
}

#content
{
    width: 480px;
    height: auto;
    float: left;
    min-height: 200px;
}

#sidebar
{
    float: right;
    width: 280px;
    height: auto;
    min-height: 200px;
}

footer
{
    width: 760px;
    height: 66px;
    clear: both;
    font-family: "Shadows Into Light";
}

#logo
{
    position: fixed;
    bottom: 100px;
    left: 20px;
}

#job
{
    box-shadow: 10px 10px 5px #888888;
}

h4
{
    text-shadow: 5px 5px 5px #ff0000;
}

p
{
    font-size: small;
}

h1
{
    display: none;
}

@media (max-width: 600px)
{
    #container
    {
        display: none;
    }
    h1
    {
        display: block;
    }
}

@font-face
{
    font-family: "Shadows Into Light";
    font-weight: 400;
}